header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
}

h2 {
    font-family: 'Long Cang';
}

.botones {
    display: flex;
    gap: 10px;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login {
    font-family: 'Long Cang';
    background-color: #5bdfb8;
}

.registro {
    font-family: 'Long Cang';
    background-color: #5bdfb8;
}

.lista-cajas {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 20px auto;
}

.textodentro {
    font-family: 'Long Cang';
}


.contenedor-principal {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.caja {
    margin: 0;
    padding: 50px;
    border: 30px solid rgb(202, 197, 197);
    background-color: #f9f9f9;
    height: 320px;
    width: 400px;
}

label {
    display: block;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.registrarse {
    justify-content: center;
}


.imagen-derecha {
    width: 400px;
    height: auto;
    border-radius: 8px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a7a7a7;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-claqueta {
    font-size: 32px;
}

.ovalo-rojo {
    background-color: rgb(168, 69, 69);
    color: black;
    padding: 6px 16px;
    border-radius: 50px;
    font-weight: bold;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer-item .icon {
    font-size: 20px;
}

