@import url(paginaprincipal.css);

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
}

.botones {
  display: flex;
  gap: 10px;
}


button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.login {
  background-color: #ddd;
}


.registro {
  background-color: #4CAF50;
  color: white;
}


@media (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 10px;
  }

  .botones {
    justify-content: center;
  }
}
